.landing {
    position: relative;
    text-align: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.landing-leave {
    transition: all 2s ease;
}

.landing-image {
    position: absolute;
    top: 20%;
    right: 7.5%;
    width: 80%;
    z-index: -1;
}

.content {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    text-align: center;
    max-width: 40%;
}

.about {
  margin-top: 75px;
  margin-left: 100px;
  margin-right: 100px;
}

.incentive {
  margin-top: 75px;
  margin-left: 100px;
  margin-right: 100px;
}

.space {
  margin-top: 75px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  align-self: start;
  flex-direction: column;
}

.space > h1 {
  text-align: center;
}

.space-underline {
  border: 1px solid white;
}

.universe-container {
  /* border: 1px solid white; */
  /* height: 100vh;
  width: 90vw; */
}
